<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
    <h1>welcome to the most awesome</h1>
    <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto maxime aliquid enim esse dicta dolorum commodi, praesentium dolor! Veritatis saepe doloremque quas sed eaque amet ullam corrupti perferendis temporibus et?

       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dicta atque totam exercitationem libero non molestias. Quod quidem fuga omnis tempore magnam distinctio odit laborum aperiam, deserunt, eveniet tenetur. Nihil!
    </p>
    <%- include('partials/footer.ejs') %>
